    input#email.form-control {
        border-top-left-radius: 2%;
        color: #21791A;
    } 
    
    #login {
        position: absolute; 
         width: 291px;
    height: 382px; 
         max-width: 370px;
        height: 380px;
        background: #F4EBEB;
        border-radius: 100px 0px;
        box-shadow: 0 0 0 0; 
     margin-top: 56px;
    }
    
    .bg {
        background: #21791A;
    }
    
    .login-logo {
        max-width: 39%;
        max-height: 30%;
        margin-left: 113px;
        margin-top: -69px;
    }
    
    .text-login {
        color: green;
        margin-left: 133px;
        margin-top: 7px;
    }
    
    .text-login,
    .text-username,
    .text-password,
    .logo-name {
        font-family: 'Righteous';
    }
    
    .login-btn {
        position: absolute;
        max-width: 131px;
        height: 40px;
        margin-left: 86px;
        border-radius: 100px 0px;
        font-size: larger;
        font-family: 'Righteous';
        background: #21791A;
        color: #F4EBEB;
        border-color: transparent !important;
    }
    
    a#navbarDropdown.nav-link.dropdown-toggle::after{
        display: none;
      }
    
    .login-btn:hover {
        background: #21791A;
        transition: 0.7s;
    }
    
