    input#email.form-control {
        background-color: green;
    }
    
    #login {
        position: relative;
        /* width: 291px;
        height: 382px;  */
        max-width: 321px;
        height: 382px;
        background: #F4EBEB;
        border-radius: 100px 0px;
        box-shadow: 0 0 0 0;
        margin-top: 88px;
    }
    /* .bg {
        background: #21791A;
    } */
    
    .login-logo {
        max-width: 39%;
        max-height: 30%;
        margin-left: 102px;
        margin-top: -56px;
    }
    
    .text-login {
        color: green;
        margin-left: 113px;
        margin-top: 12px;
    }
    /* .text-login,
    .text-username,
    .text-password,
    .logo-name {
        font-family: 'Righteous';
    } */
    
    .login-btn {
        position: absolute;
        /* max-width: 131px; */
        /* text-align: center; */
        height: 40px;
        margin-top: 14px;
        margin-left: 55px;
        border-radius: 100px 0px;
        font-size: larger;
        /* font-family: 'Righteous'; */
        background: #21791A;
        color: #F4EBEB;
        border-color: transparent !important;
    }
    
    a#navbarDropdown.nav-link.dropdown-toggle::after {
        display: none;
    }
    /* .login-btn:hover {
        background: #21791A;
        transition: 0.7s;
    }
     */
    
    #alert_message {
        z-index: 1;
        margin-top: 80px;
        margin-left: 55%;
    }
    
    #btn-edit {
        border: 1px solid #19bacf;
        color: #19bacf;
    }
    
    #btn-edit:hover {
        background-color: #19bacf;
        color: #F4EBEB;
    }
    
    #btn_add {
        /* style="background-color:#21791A; color:white"  */
        border: 1px solid #21791A;
        color: #21791A;
    }
    
    #btn_add:hover {
        background-color: #21791A;
        color: #F4EBEB;
    }